$purple: #353545;
$light-purple: #9796ad;
$olive: #90896a;
$dusty: #c49992;
$dusty-100: #fcf8f5;
$dusty-200: #f5f5ed;
$dusty-300: #f1e0d7;

@font-face {
    font-family: dancingscriptR;
    src: url("./../fonts/DancingScript/DancingScript-Regular.ttf");
}

@font-face {
    font-family: poly;
    src: url("./../fonts/Poly/Poly-Regular.ttf");
}

@font-face {
    font-family: lato;
    src: url("./../fonts/Lato/Lato-Regular.ttf");
}

.k-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 2px solid transparent;
    padding: 0.3rem 1.5rem;
    border-radius: 7px;
    gap: 5px;
    transition: 0.3s;
}

.k-btn-primary {
    background-color: $purple;
    color: #fff;
    &:focus {
        background-color: $purple;
    }
}

.k-btn-outline-default {
    border: 1px solid $purple;
    background-color: transparent;
}

body {
    font-family:
        lato,
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif;
    color: $purple;
    position: relative;
    background-color: $purple;
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

a {
    text-decoration: none;
}

.home-page {
    width: 100%;
    height: 100vh;
    position: relative;
    img {
        width: 100% !important;
        height: 100%;
        object-fit: cover;
        filter: blur(1px);
    }
}

.wrapper {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: rgba($color: $purple, $alpha: 0.4);
    height: 100%;
    color: #fff;
    h1 {
        font-family: dancingscriptR;
        font-size: 70px;
        @media (max-width: 450px) {
            font-size: 55px;
        }
    }
    a {
        color: #fff;
        font-size: 1.4rem;
        transition: 0.3s;
        i {
            transition: 0.2s;
        }
        &:hover {
            color: $dusty-300;
            i {
                margin-left: 5px;
            }
        }
    }
}

.job {
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: 3px solid $purple;
}

.social-links {
    display: flex;
    gap: 70px;
    margin-top: 30px;

    a {
        display: inline-block;
        svg {
            width: 60px;
            transition: 0.3s;
        }
        &:hover {
            svg {
                stroke: $dusty-300;
                transform: scale(1.05);
            }
        }
    }

    @media (max-width: 450px) {
        gap: 40px;
    }
}

.navbar-brand {
    font-family: dancingscriptR;
    font-weight: 600;
}

header {
    background-color: $dusty-100;
    height: 80px;
    border-radius: 5px;
}

.navbar-toggler {
    border: 0;
    padding: 0;
    &:focus {
        outline: 0;
        box-shadow: none;
    }
}

.navbar {
    display: grid;
    grid-template-columns: 115px auto 115px;
    justify-content: space-between;
    height: 80px;
    font-family: poly;
    .nav-link {
        padding: 0 1.5rem !important;
    }
    @media (max-width: 991px) {
        display: flex;
        justify-content: space-between;
    }
}

.nav-link {
    color: rgba($color: $purple, $alpha: 0.5) !important;
    &.active {
        color: $purple !important;
    }
}

.social-bar {
    background-color: $dusty-300;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    // border-top: 2px solid $purple;
    // border-bottom: 2px solid $purple;
    border-radius: 5px;
}

.about-me {
    display: grid;
    grid-template-columns: 250px 1fr;
    border-bottom: 2px solid $purple;
    @media (max-width: 767px) {
        grid-template-columns: 150px 1fr;
    }
    @media (max-width: 575px) {
        grid-template-columns: auto;
        justify-items: center;
    }
}

.img-wrapper {
    img {
        width: 100%;
    }
}

.about-text {
    font-size: 1.3rem;
    padding-right: 3rem;
    line-height: 40px;
    @media (max-width: 767px) {
        font-size: 1rem;
        line-height: 25px;
    }
    @media (max-width: 575px) {
        text-align: center;
    }
}

.slogan {
    padding: 20px 0;
    font-size: 1.7rem;
    text-align: center;
    color: rgba($color: $purple, $alpha: 0.9);
    @media (max-width: 767px) {
        font-size: 1rem;
    }
}

footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 200px;
    left: 50%;
    margin-left: -100px;
    a {
        color: $dusty;
        &:hover {
            color: $dusty;
        }
    }
}

.explore {
    font-size: 1.3rem;
    color: rgba($color: $purple, $alpha: 0.6);
    text-align: center;
    @media (max-width: 767px) {
        font-size: 1rem;
    }
}

.menuOffcanvas {
    background-color: $purple;
    padding: 5px;
    &.offcanvas-end {
        width: 320px;
    }
    .btn-close {
        position: absolute;
        top: 30px;
        right: 30px;
    }
    > div {
        background-color: $dusty-300;
        border-radius: 10px;
    }
    .menu {
        height: 80%;
        margin-bottom: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background:
            url("./../img/top-bg.png") no-repeat top left,
            url("./../img/bottom-bg.png") no-repeat bottom right,
            $dusty-300;
        .nav-link {
            padding: 1rem;
        }
    }
    .social-bar {
        height: calc(20% - 5px);
        background:
            url("./../img/bottom-bg-2.png") no-repeat top right,
            $dusty-300;
    }
    h3 {
        font-family: dancingscriptR;
        font-weight: 600;
    }
}

main {
    min-height: calc(100vh - 120px);
    background-color: $dusty-200;
    border-radius: 5px;
}

.resume {
    width: 60%;
    margin: 0 auto;
    display: block;
    position: relative;
    cursor: pointer;
    @media (max-width: 767px) {
        width: 80%;
    }
    @media (max-width: 575px) {
        width: 90%;
    }
    img {
        width: 100%;
    }
    &::after {
        content: "";
        width: 100%;
        height: 40%;
        background: linear-gradient(transparent, #fff, #fff);
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 1;
    }

    span {
        display: block;
        position: absolute;
        z-index: 2;
        bottom: 60px;
        width: 210px;
        left: 50%;
        margin-left: -105px;
        color: $purple;
        @media (max-width: 767px) {
            bottom: 30px;
        }
    }
}

.bg-patern {
    background:
        url("./../img/f1.png") no-repeat bottom right,
        url("./../img/f2.png") no-repeat top left;
}

.bg-patern2 {
    background: url("./../img/f3.png") no-repeat 15% bottom;
    background-size: 300px;
    @media (max-width: 767px) {
        background-position: 160% bottom;
        background-size: contain;
    }
    @media (max-width: 550px) {
        background-position: 160% bottom;
        background-size: 250px;
    }
}

.contact-us {
    width: 40%;
    margin: 0 auto;
    @media (max-width: 767px) {
        width: 60%;
    }
    @media (max-width: 450px) {
        width: 75%;
    }
    .form-input {
        display: grid;
        input,
        textarea {
            border: 2px solid rgba($color: $purple, $alpha: 0.5);
            background-color: rgba($color: $purple, $alpha: 0.1);
            padding: 5px;
            resize: none;
        }
    }
}

.works-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 80px 50px;
}

.works-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 40%;
    flex-grow: 1;
    gap: 10px;
    transition: 0.3s;
    @media (max-width: 600px) {
        flex-basis: 100%;
    }
    img {
        max-width: 100%;
        margin-bottom: 20px;
    }
    p {
        margin: 0;
        color: $purple;
        font-size: 1.2rem;
        width: 70%;
        margin: 0 auto;
        text-align: center;
        @media (min-width: 601px) and (max-width: 991px) {
            width: 100%;
        }
    }
    span {
        color: $purple;
        border-radius: 30px;
    }

    &:hover {
        transform: scale(1.01);
        cursor: pointer;
        .k-btn-outline-default {
            gap: 10px;
            background-color: $purple;
            color: #fff;
        }
    }
}

.banner {
    margin: 0 !important;
    max-width: none !important;
    @media (max-width: 600px) {
        width: auto;
        animation: move-img ease-in-out 20s infinite alternate;
    }
}

@keyframes move-img {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-68%);
    }
}
